name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Build and publish core in local Maven repository
      run: ./gradlew publishToMavenLocal -PskipSigning
      working-directory: ./poetimizely-core

    - name: Spotless core
      run: ./gradlew spotlessCheck
      working-directory: ./poetimizely-core

    - name: Spotless gradle-plugin
      run: ./gradlew spotlessCheck
      working-directory: ./poetimizely-gradle-plugin

    - name: Spotless maven-plugin
      run: ./mvnw spotless:check
      working-directory: ./poetimizely-maven-plugin

    - name: Test core
      run: ./gradlew test
      working-directory: ./poetimizely-core

    - name: Test gradle-plugin
      run: ./gradlew test
      working-directory: ./poetimizely-gradle-plugin

    - name: Test maven-plugin
      run: ./mvnw test
      working-directory: ./poetimizely-maven-plugin

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
